p{
    background-color: rgb(45, 194, 211);
}

h1{
    background-color: rgb(189, 96, 96);
}
a{
    background-color: yellow;
}
div{
    background-color: blue;
}
span{
    background-color: green;
}