@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: "Poppins", sans-serif; */
}
body{
    background-color: black;
}
.main {
    background-image: url(assets/images/bg.jpg);
    background-size: cover;
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: max(2639px, 100vw) auto; */
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px ;
    text-align: center;
    flex-direction: column;
    color: white;
    position: relative;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 24px;
}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
}

.separation{
    height: 7px;
    background-color: rgb(50, 50, 50);
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}
.main input {
    font-size: 14px;
    padding: 9px 35px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.btn-red{
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 4px;
}
.hero-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.btn-red-sn{
    background-color: red;
    color: white;
}